<!-- located at client/index.html -->
<!doctype html >
<html ng-app="melhoremeApp" ng-controller="MainController" lang="pt-BR"  >
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/index.html">
	<title>Melhore.me</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <style>
        .main-toolbar {
            background-color: #033649;
        }
    </style>

    <!-- build:css inline -->
    <link href='assets/css/fonts/fonts.css' rel='stylesheet' type='text/css'>
    <!-- /build -->

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- build:css inline assets/libs/angular-material/angular-material.min.css -->
    <link rel="stylesheet" href="assets/libs/angular-material/angular-material.css" >
    <!-- /build -->

    <!-- build:css inline -->
    <link rel="stylesheet" href="assets/css/style.css" >
    <!-- /build -->
</head>

<body >

<div ng-controller="SideNavControler as sideNav" role="main">
<!--<div ng-controller="SideNavControler" layout="column" style="height:100%;">-->

    <md-toolbar class="main-toolbar">
        <div class="md-toolbar-tools">
            <span hide-sm flex="5"></span>
            <md-button ng-click="sideNav.toggleLeft()" hide-gt-md class="md-icon-button button-toolbar" aria-label="Menu">
                <md-icon md-svg-icon="all:menu"></md-icon>
            </md-button>
            <h2>
                <!--<span class="m">M</span><span class="logo">elhore.<span class="m-2">m</span>e</span>-->
                <span class="m"></span><span hide-sm class="elhore"></span><span class="m-2"></span>
            </h2>

            <div flex layout="row" layout-align="center center" md-theme="orangeTheme" >
                <div flex="15"></div>


                <md-input-container class="md-icon-float ajuste-search" layout-fill ng-cloak>
                    <md-icon md-svg-icon="all:search"></md-icon>
                    <input ng-model="cadastro.user.username" type="text" class="search" aria-label="pesquisa">
                </md-input-container>

                <div flex="15"></div>

            </div>
            <div layout="row" layout-align="end center" ng-cloak>
                <md-button hide-sm ng-click="sideNav.toggleRightCadastro()" class="button-toolbar" aria-label="Cadastro" >
                    entrar
                </md-button>
            </div>
            <span hide-sm flex="5"></span>


        </div>
    </md-toolbar>

    <md-whiteframe class="md-whiteframe-4dp" layout layout-align="center center">
        <span><br/><br/></span>
    </md-whiteframe>

    <div ui-view></div>
</div>


<!-- build:js assets/libs/angular/angular.min.js -->
<script src="assets/libs/angular/angular.js"></script>
<!-- /build -->

<!-- build:js inline /assets/libs/angular-material/angular-material.min.js -->
<script src="assets/libs/angular-material/angular-material.js"></script>
<!-- /build -->

<!-- build:js inline -->
<script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="assets/libs/ngstorage/ngStorage.min.js"></script>
<script src="assets/libs/angular-animate/angular-animate.min.js"></script>
<script src="assets/libs/angular-aria/angular-aria.min.js"></script>
<script src="assets/libs/angular-messages/angular-messages.min.js"></script>
<!--<script src="assets/libs/angular-facebook/lib/angular-facebook.js"></script>-->
<script src="assets/libs/angular-easyfb/build/angular-easyfb.js"></script>
<!-- /build -->

<!-- INLINE -------------------------------------------------------------->
<!-- build:js inline -->
<script src="app/appRoutes.js"></script>
<script src="app/app.js"></script>
<script src="app/services/SomeService.js" ></script>
<script src="app/services/AuthService.js" ></script>
<script src="app/controllers/MainCtrl.js"></script>
<script src="app/controllers/SideNavCtrl.js" ></script>
<script src="app/controllers/CadastroCtrl.js" ></script>
<!--<script src="app/controllers/LoginCtrl.js" ></script>-->
<script src="app/controllers/CardsCtrl.js" ></script>
<script src="app/controllers/VideoCtrl.js" ></script>
<!-- /build -->

</div>


</body>
</html>
