<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-theme="loginTheme" md-component-id="right-login" >

    <md-toolbar class="md-theme-light md-tall login-toolBar" layout="column">
        <div layout="row" layout-align="end start">
            <md-button ng-click="sideNav.close('right-login')" class="md-icon-button text-white" aria-label="Close">
                <md-icon md-svg-icon="all:window_close" style="width:16px;height:16px;" hide-sm></md-icon>
                <md-icon md-svg-icon="all:window_close" hide-gt-sm></md-icon>
            </md-button>
        </div>

        <span flex></span>
        <div layout="row">
            <h1 class="md-toolbar-tools text-white"><i>Login</i></h1>
        </div>
    </md-toolbar>

    <div ng-controller="LoginControler as login" layout="column">

        <md-content  layout-padding class="autoScroll">
            <br>
            <div layout="row" layout-align="center center">
                <a href="" ng-disabled="true" aria-label="facebook" >
                    <md-icon md-svg-icon="social:facebook-account" style="width: 48px;height: 48px" ></md-icon>
                </a>
                <md-button class="md-icon-button" aria-label="github" >
                    <md-icon md-svg-icon="social:github-account" style="width: 48px;height: 48px" ></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="linkedin" >
                    <md-icon md-svg-icon="social:linkedin-account" style="width: 48px;height: 48px" ></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="google" >
                    <md-icon md-svg-icon="social:google-account" style="width: 48px;height: 48px" ></md-icon>
                </md-button>
            </div>
            <br><br><hr class="ou"><br>
            <form>
                <br>
                <md-input-container class="md-icon-float" >
                    <!-- Use floating label instead of placeholder -->
                    <label>Usuário</label>
                    <md-icon md-svg-icon="all:account_up"></md-icon>
                    <input ng-model="login.user.username" type="text" md-sidenav-focus>
                </md-input-container>
                <md-input-container class="md-icon-float" >
                    <label>Senha</label>
                    <md-icon md-svg-icon="all:account-password"></md-icon>
                    <input ng-model="login.user.password" type="password">
                </md-input-container>
            </form>
            <br>
            <p class="md-caption">Caso ainda não possua uma conta: Por favor, cadastre-se
                <md-button ng-click="sideNav.close('right-login');sideNav.toggleRightCadastro();"
                           class="md-icon-button">
                    <md-icon md-svg-icon="all:seta" class="md-primary" aria-label="fechar"></md-icon>
                </md-button>
            </p>

        </md-content>
    </div>
</md-sidenav>

<!--
    After
-->

<md-button hide-sm ng-click="sideNav.toggleRightEmail();" class="button-toolbar" aria-label="Login" >
    <!--<md-icon md-svg-icon="all:menu_vert"></md-icon>-->
    login
</md-button>
<md-button hide-gt-sm ng-click="sideNav.toggleRightEmail();" class="button-toolbar" aria-label="Login" >
    <!--<md-icon md-svg-icon="all:menu_vert"></md-icon>-->
    entrar
</md-button>

<!--
    In Cadastro Form
-->

<br>
<p class="md-caption">Caso ainda não possua uma conta: Por favor,
    cadastre-se.
    <md-button ng-click="sideNav.close('right-cadastro');sideNav.toggleRightEmail();"
               class="md-icon-button" aria-label="fechar">
        <md-icon md-svg-icon="all:seta" class="md-primary"></md-icon>
    </md-button>
</p>
