<section layout="row" layout-padding> <!-- class="hide-scroll" -->
    <span show-gt-md flex="5"></span>

    <md-content flex>
        <h1 class="md-display-1">How To Make Your First Website</h1>
        <md-list>
            <md-list-item class="md-1-line " ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                <a ui-sref="watch" class="link-undecorated">
                    <md-divider ></md-divider>
                    <h4>#{{ i }} - Titulo dos videos desta seção</h4>
                    <md-divider ></md-divider>
                </a>
            </md-list-item>
        </md-list>
    </md-content>

    <span show-gt-md flex="5"></span>
</section>
