html {
  height: 100% !important; }

html, body {
  background-color: #FEFEFE; }

.hide-scroll {
  overflow: hidden !important;
  -ms-overflow-style: none; }

.text-white {
  color: white !important; }

.button-toolbar {
  padding: 0 0 !important;
  margin: 0 0;
  cursor: pointer;
  font-size: 15px;
  color: #819ba4 !important;
  min-width: 85px;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  line-height: 64px; }
  .button-toolbar:hover {
    background-color: #032f40 !important;
    color: #b3c3c8 !important; }
  .button-toolbar:active {
    color: #577986 !important; }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
    .button-toolbar {
      line-height: 54px; } }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
    .button-toolbar {
      line-height: 46px; } }

.m {
  font-family: 'Holtwood One SC', serif;
  color: #ffc107 !important;
  font-size: 60px;
  cursor: pointer; }
  .m:hover {
    color: #819ba4 !important; }
  .m:active {
    color: #ffffff !important; }
  .m:after {
    content: 'M'; }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
    .m {
      font-size: 50px; } }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
    .m {
      font-size: 46px; } }

.elhore {
  font-family: 'Sacramento', cursive;
  color: #558b2f;
  font-size: 25px; }
  .elhore:after {
    content: 'elhore'; }

.m-2 {
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Warnes', cursive;
  color: #558b2f;
  font-size: 10px; }
  .m-2:after {
    content: '.me'; }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
    .m-2 {
      font-size: 12px; } }
  @media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
    .m-2 {
      font-size: 10px; } }

.search {
  border-bottom-color: #2d5767 !important;
  font-family: dejavu sans mono, monospace !important;
  color: #8bc34a !important;
  font-size: 18px; }
  .search:focus {
    border-bottom-color: #ffc107 !important; }

.ajuste-search {
  padding-bottom: 0px; }

hr.ou {
  padding: 0;
  border: 0;
  height: 1px;
  /*border-top: medium double #333;*/
  /*color: #333;*/
  text-align: center;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent); }

hr.ou:after {
  content: "ou";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.3em;
  padding: 0 0.25em;
  background: white; }

.card-destaque {
  cursor: pointer;
  margin: 0 0 0 1px !important; }
  .card-destaque:hover {
    border-radius: 5px 5px 3px 3px;
    background-color: #033649; }

.card-semi-destaque {
  cursor: pointer; }
  .card-semi-destaque:hover {
    background-color: #033649; }

.card-padrao {
  cursor: pointer; }
  .card-padrao:hover {
    background-color: #033649; }

/*
  Testes, exemplos, temporarios
*/
.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

.md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.dark-blue {
  background-color: #ffc107; }

.light-green {
  background-color: #8bc34a; }

.lime {
  background-color: #cddc39; }

.yellow {
  background-color: #ffeb3b; }

.amber {
  background-color: #ffc107; }

.orange {
  background-color: #ff9800; }

.deep-orange {
  background-color: #ff5722; }

.cyan {
  background-color: #00bcd4; }
