<div layout="row" ng-controller="DashboardVideo">
    <div flex="15" class="md-whiteframe-4dp" layout-padding layout-margin>

        <md-list>
            <md-list-item  ng-repeat="item in templates">
                <a ng-click="templateIndex($index)"><p>{{ item.name }}</p></a>
            </md-list-item>
        </md-list>
    </div>

    <div flex="65" class="md-whiteframe-4dp" layout-padding layout-margin>
            <div ng-include="template.url"></div>
    </div>

    <div flex="20" class="md-whiteframe-4dp" layout-padding layout-margin>
            *
    </div>
</div>