$color_50: #e6ebed;
$color_100:#b3c3c8;
$color_200:#819ba4;
$color_300:#577986;
$color_400:#2d5767;
$color_500:#033649;
$color_600:#032f40;
$color_700:#022937;
$color_800:#02222e;
$color_900:#021b25;
$color_A100:#b3c3c8;
$color_A200:#819ba4;
$color_A400:#2d5767;
$color_A700:#022937;