html {
  height: 100% !important;
}

html, body{
  background-color: #FEFEFE;
  overflow-x: hidden !important;
  -ms-overflow-x: hidden;
}

.hide-scroll {
  overflow: hidden !important;
  -ms-overflow-style: none;
}