<style>
    .select-hover md-option:hover{
        background: #f4f4f4;
    }
</style>
<div layout="row" layout-fill>
    <div show-gt-md flex="60" layout-padding style="padding-right: 35px !important;">
        <md-input-container>
            <label>Link do vídeo</label>
            <input type="text" placeholder="https://www.youtube.com/watch?v=sMKoNBRZM1M">
        </md-input-container>
        <md-input-container>
            <label>Título</label>
            <input type="text">
        </md-input-container>
        <md-input-container>
            <label>Descrição</label>
            <textarea rows="4"></textarea>
        </md-input-container>
        <md-input-container>
            <label>Marcações</label>
            <input type="text" placeholder="mean stack, angular, mongodb">
        </md-input-container>
    </div>

    <!--<div show-gt-md flex="10"></div>-->

    <div show-gt-md flex="40" layout-padding >

        <md-input-container>
            <label>Adicionar ao curso</label>
            <md-select ng-model="">
                <div class="select-hover" >
                    <md-option ng-repeat="curso in ['angular', 'node', 'mongodb']" value="{{curso}}">
                        {{curso}}
                    </md-option>
                </div>
                <md-button class="md-raised">Adicionar curso</md-button>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Categoria</label>
            <md-select ng-model="">
                <div class="select-hover" >
                    <md-option ng-repeat="categoria in ['Banco de Dados', 'Server', 'Web Design']" value="{{categoria}}">
                        {{categoria}}
                    </md-option>
                </div>
            </md-select>
        </md-input-container>
    </div>
</div>