<div ng-controller="AdminMainController" >
    <div ngf-drop
         ngf-select
         ng-model="files"
         ngf-drag-over-class="'dragover'"
         ngf-multiple="true"
         ngf-allow-dir="true"
         accept="image/*,application/pdf"
         ngf-pattern="'image/*'"
         class="drop-box">
        <div class="content">
            Clique ou arraste outra foto
        </div>
    </div>
    <div ngf-no-file-drop>File Drag/Drop não é suportado neste browser</div>
    <br>
    <md-input-container>
        <label>&nbsp;Nome</label>
        <input type="text">
    </md-input-container>
    <md-input-container>
        <label>&nbsp;Email</label>
        <input type="email">
    </md-input-container>
    <md-input-container>
        <label>&nbsp;Nome</label>
        <input type="text">
    </md-input-container>
    <md-input-container>
        <label>&nbsp;Email</label>
        <input type="email">
    </md-input-container>

    Arquivos:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">
            {{f.name}} {{f.$error}} {{f.$errorParam}}
            <img src="{{ f.path }}">
        </li>
    </ul>
    <br>
    Upload Log:
    <pre>{{log}}</pre>
</div>