<md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
        <span hide-sm flex="5"></span>
        <a ui-sref="index">
            <h2>
                <!--<span class="m">M</span><span class="logo">elhore.<span class="m-2">m</span>e</span>-->
                <span class="m"></span><span hide-sm class="elhore"></span><span class="m-2"></span>
            </h2>
        </a>

        <div flex layout="row" layout-align="center center" md-theme="orangeTheme" >
            <div flex="50"></div>

            <md-input-container class="md-block ajuste-search" layout-fill layout-align="center center" ng-cloak>
                <md-icon md-svg-icon="all:search"></md-icon>
                <input
                        type="text"
                        class="search"
                        aria-label="pesquisa">
            </md-input-container>

            <div flex="50"></div>

        </div>
        <div layout="row" layout-align="end center" ng-cloak>
            <!--{{home.toggle.rightCadastro()}}-->
            <md-button
                    id="headerButtonLogin"
                    ng-if="!home.isLogged()"
                    hide-sm ng-click="header.sidenav.toggle.rightLogin()"
                    class="button-toolbar"
                    aria-label="Cadastro" >
                <!--<md-button ng-if="home.isLogged()" hide-sm ng-click="home.toggle.rightCadastro()" class="button-toolbar" aria-label="Cadastro" >-->
                entrar
            </md-button>

            <div class="md-menu-demo" ng-if="home.isLogged()">
                <div class="menu-demo-container" layout-align="center center" layout="column">
                    <md-menu >
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="home.openMenu($mdOpenMenu, $event)">
                            <img ng-src="http://38.media.tumblr.com/avatar_f8c44361cbe8_128.png"
                                 class="avatar" alt="raul">
                            <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="home.configuracoes()">
                                    Configurações
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="home.me()">
                                    Me
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="home.logout()">
                                    Sair
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>


        </div>
        <span hide-sm flex="5"></span>
    </div>
</md-toolbar>